* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: linear-gradient(
            to right bottom,
            rgb(34, 141, 234),
            rgba(40, 100, 131, 0.01)
    );
}

body {
    display: flex;
    min-height: 96vh;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 300;
    margin: 30px;
    border-radius: .3rem;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    width: 90vw;
    padding-top: 1rem;
    margin: 0 auto; /* horizontally center within it's container. */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 0 1rem;
}

.siteLogo {
    height: 30px;
    width: 30px;
}

.brandName {
    display: flex;
    align-items: center;
}

.brandName img {
    margin-right: 1rem;
}

#myBtn {
    cursor: pointer;
    padding: .7rem;
}

#myBtn:hover {
    background: #e2e2e2;
    border-radius: .3rem;
}

#myBtn2 {
    cursor: pointer;
    padding: .7rem;
}

#myBtn2:hover {
    background: white;
    color: black;
    border-radius: .3rem;
}

.container {
    flex: 1;
}

.content {
    width: 90vw;
    margin: 13rem auto;
    padding-bottom: 8rem; /* Keeps the footer at the bottom of the page.*/
}

#wordSearch {
    width: 100%;
    border: none;
    background: #e2e2e2;
    height: 3.5rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 1rem;
    font-size: 2rem;
    font-family: 'Lato';
}

input[type='file'] {
    display: none;
}

.search {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 30%;
}

.upload {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

#fileUploadLabel {
    display: inline-block;
    padding: .7rem 0;
    cursor: pointer;
    border: none;
    height: 3.25rem;
    width: 30%;
    background: radial-gradient(rgb(92, 183, 228),
    rgb(17, 133, 235));
    color: white;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.count {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.file {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.fileDisplay {
    display: flex;
    flex-direction: column;
}

.file #myText {
    background: black;
    color: lime;
    font-family: 'Lato';
    opacity: .9;
    line-height: 1.7;
    border-radius: .3rem;
    padding: 1rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
    position: relative; /* Footer's style work within the bounds of the body. */
    background: #b1b1b1;
    padding: 2rem 0;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    opacity: .5;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    width: 40%;
}

.footer-content {
    color: white;
}

.footer-content ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.footer-content ul li {
    margin: 0 .3rem;
}

/* MODAL SETTINGS */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -100%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.show {
    top: 0;
    opacity: 1;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #2796ec;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {
    padding: 2rem 16px;
}

.modal-footer {
    padding: 2px 16px;
}
