/* Copywrite Taylor Brauer | 2021 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(
            to right bottom,
            rgb(34, 141, 234),
            rgba(40, 100, 131, 0.01)
    );
}

body {
    min-height: 100vh;
    font-family: 'Merriweather';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    background: white;
    margin: 1.8rem; /* 28.8px */
    border-radius: .3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    padding: 1.5rem;
}

nav .brandName {
    display: flex;
    align-items: center;
}

nav img {
    height: 30px;
    width: 30px;
    margin-right: 1rem;
}

nav ul {
    display: flex;
    margin-right: 2rem;
    list-style: none;
}

nav #navContactBtn {
    cursor: pointer;
    padding: .7rem;
}

nav #navContactBtn:hover {
    background: #e2e2e2;
    border-radius: .3rem;
}

.container {
    flex: 1;
}

.content {
    margin-top: 10rem;
}

.content .search {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

#searchField {
    width: 30%;
    border: none;
    background: #e2e2e2;
    height: 3.5rem;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0 1rem;
    font-size: 2rem;
    font-family: 'Lato';
}

.content .file {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

input[type='file'] {
    display: none;
}

#fileLabel {
    display: inline-block;
    padding: .7rem 0;
    cursor: pointer;
    border: none;
    height: 3.25rem;
    width: 30%;
    background: radial-gradient(rgb(92, 183, 228),
    rgb(17, 133, 235));
    color: white;
    border-radius: .3rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lato';
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .counter {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.content .results {
    display: flex;
    justify-content: center;
    margin: 7rem;
}

.resultsLayout {
    display: flex;
    flex-direction: column;
}

.resultsLayout label {
    font-size: 2rem;
    font-weight: 400;
}

.content #fileContent {
    background: rgba(8, 8, 8, 0.8);
    color: lime;
    padding: 3rem 2rem;
}

footer {
    background: #e2e2e2;
    min-height: 5vh;
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
}

footer .footerContent {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

/* ##### MODAL ###### */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -100%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.show {
    top: 0;
    opacity: 1;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    border-radius: .3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #2796ec;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {
    padding: 2rem 16px;
}

.modal-footer {
    padding: 2px 16px;
}